@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Heebo:900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  @apply .mb-0;

  font-family: 'Heebo', sans-serif;
}

p {
  line-height: 125%;
  text-align: justify;
}

a {
}

article {
  overflow: hidden;

  header {
    @apply sticky overflow-hidden h-screen;

    bottom: 100vh;
  }

  footer {
    
    @apply sticky top-0 bg-gray-900 text-white .py-20;

    h1 {
      @apply mt-10 text-2xl font-hairline;
    }

    p {
      @apply mb-10;
    }
  }
}