@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Heebo:900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100.1%
}

body {
  @apply mb-20;
}

h1, h2, h3, h4, h5 {
  @apply .mb-0;

  font-family: 'Heebo', sans-serif;
}

p {
  line-height: 125%;
  text-align: justify;
}

a {
  @apply text-indigo-600 underline;

  &:hover,
  &:focus {
    @apply no-underline;
  }

  &:active {
    @apply text-indigo-800;
  }
}

article {
  overflow: hidden;

  header {
    @apply sticky overflow-hidden h-screen;

    bottom: 100vh;
  }

  footer {
    @apply fixed bottom-0 left-0 right-0 flex justify-between p-5 text-sm bg-white;

    transition: all 300ms;

    ul {
      @apply flex flex-row;

      li {
        @apply pl-2;
      }
    }

    .profiles {
      @apply flex;
    }

    .copyright {
      @apply text-right;
    }
  }
}