.glide {

  &__slides {
    @apply .h-full;
  }

  &__slide {
    padding-top: 20vw;
    transition: all 340ms;

    @apply relative h-full bg-center bg-cover opacity-25;

    &__content {
      @apply hidden text-gray-900;
    }

    &--active {
      @apply opacity-100 cursor-pointer;

      &:hover {

        &:before {
          background: linear-gradient(45deg, black, rgba(0, 0, 0, 0.2));
        }
      }
    }

    &:before {
      @apply absolute inset-0;


      content: '';
      mix-blend-mode: hard-light;
      background: linear-gradient(45deg, black, rgba(0, 0, 0, 0));
      transition: background 300ms;
    }

    h1, h2 {
      @apply m-0 absolute inset-0 flex justify-center items-center uppercase font-bold text-white text-xl p-6 break-words;

      line-height: 0.8;

      @screen md {
        @apply text-2xl;
      }

      @screen xl {
        @apply text-3xl;
      }
    }
  }
}