@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import "base";
@import "glide";

section {
  @apply fixed inset-0 flex flex-col justify-center overflow-hidden mt-0;
  
  transition: all 240ms;
  transition-delay: 60ms;
  transform: scale(calc(5/3));
  
  &.--swiping {
    transform: scale(1);
  }

  &.--full-screen {
    @apply overflow-y-auto overflow-x-hidden static mt-10;

    transform: scale(1);
    min-height: 100vh;

    .glide {

      &__slides {
        touch-action: pan-y;
      }

      &__slide {

        &:not(.glide__slide--active) {
          @apply opacity-25;
        }

        // &__content {
        //   @apply flex;
        // }
      }
    }
  }

  .content {
    @apply overflow-hidden mt-20;

    animation: fadeIn 1200ms;
    min-height: 100vh;

    @keyframes fadeIn {
      from {
        opacity: 0;
        // height: 0vh;
      }
      to {
        opacity: 1;
        // height: 100vh;
      }
    }
  }
}
